.days {
  .point-content {
    padding: 5px 0;
  }
  .point {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 2.5px 8px;
    background-color: var(--light-blue);
    border: 1px solid var(--blue);
    border-radius: 8px;
  }
}
