.login {
  padding: 20px;
  .mat-card {
    padding: 20px;
    max-width: 300px;
  }
  form {
    .mat-form-field {
      width: 100%;
    }
  }
  .visibility {
    color: var(--secondary);
    cursor: pointer;
  }
  .error {
    color: var(--negative);
    font-size: 12px;
  }
}
