<section class="login" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="auto">
     <form (ngSubmit)="onLogin()">
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="outline" floatLabel="auto">
          <mat-label>Login</mat-label>
          <input matInput [formControl]="login" required>
          <mat-error *ngIf="login.invalid">{{getErrorMessage('login')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="auto">
          <mat-label>Senha</mat-label>
          <input [type]="visibility ? 'text' : 'password'" matInput [formControl]="password" required>
          <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
          <mat-icon class="visibility" *ngIf="!visibility" (click)="visibility = true" matSuffix>visibility_off</mat-icon>
          <mat-icon class="visibility" *ngIf="visibility" (click)="visibility = false" matSuffix>visibility</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
        <button type="submit" color="primary" mat-flat-button>ACESSAR</button>
        <div *ngIf="error" class="error m-t-10">Login ou Senha inválido.</div>
      </mat-card-actions>
     </form>
  </mat-card>
</section>
