// margins left
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-50 {
  margin-left: 50px !important;
}
// margins top
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
// margins right
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-r-25 {
  margin-right: 25px !important;
}
.m-r-40 {
  margin-right: 40px !important;
}
// margins bottom
.m-b-10 {
  margin-bottom: 10px !important;
}
